
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

<body>
<div layout:fragment="content">
    <form th:action="@{'/add'}" method="post" th:object="${request}">

        <label class="form-label">ФИО: </label>
        <input class="form-control mb-3" type="text" th:field="*{userName}" placeholder="ФИО" required>

        <label class="form-label">Курс: </label>
        <select class="form-select mb-3" th:field="*{courseName}" required>
            <option value="" disabled >Выберите курс</option>
            <option value="Java Standard Edition">Java Standard Edition</option>
            <option value="Web Technologies">Web Technologies</option>
            <option value="Python Programming Language">Python Programming Language</option>
            <option value="UX/UI Design">UX/UI Design</option>
            <option value="Java Pro">Java Pro</option>
            <option value="Django Framework">Django Framework</option>
        </select>

        <label class="form-label">Тел: </label>
        <input class="form-control mb-3" type="text" th:field="*{phone}" placeholder="+7(7__)_______" required>

        <label class="form-label">Коментарии: </label>
        <input class="form-control mb-3" type="text" th:field="*{commentary}" placeholder="Коментарии" required>
        <button class="btn btn-success">Добавить заявку</button>
    </form>
</div>
</body>
</html>